
body{
				
    background:URL('./images/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 19.6% 0 19.6%;
    
    }

.materiallink, .githublink, .linkedinlink {

    font-size:20px;
    color:black;
    font-style: none;

}

.certimg{

    width: 40%;
    height: 20%;

}

.mainlogo{

    width: 20%;

}

.headofpage{ 
    
    border: solid 1px;
    padding: 40px 0 0 20px;
    height: 50px;
    width: auto;
    
    background-color: cyan;
    
    /* background:URL('imgheader.jpg'); */
    
    }
    
.headofpage a{
    text-decoration: none;
    font-style: none;
    margin: 2%;
    color: green;
    
    }
    
.headofpage a:hover{
    
    color: red;
    }

.content{
    background-color: white;
    border: solid 1px;
    padding: 20px 5px 5px 5px;
    height: auto;
    }
    
.maintbl {

    border: solid 1px; 
    background-color: white;
    margin: 0%;
    border-color:black;
    padding: 2px;

}

.maintbl th {

    margin: 10px;


}

.maintbl tr {
    
    text-align: left;
    

}

.maintbl td {

    background-color : white;
    color : black;
    border: solid 1px;
    padding: 5px;

}

.footer{
    background-color: cyan;
    border: solid 1px;
    padding: 5px;
    height: 50px;
    text-align: center;
    color: green;
    
    }